<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

      
    {% block content %}
        <div class = "container">
            <div class = "row">
                <div class = "col-sm-12 text-dark text-center my-3">
                    <h1>Favoritos</h1>
                </div>
            </div>
            <div class = "row">
                <div class = "card border-dark mb-3 mx-3" style="max-width: 15rem;">
                    <img class="card-img-top" src="{% static 'assent/missa.jpg' %}" alt="Imagem de capa do card">
                    <div class = "card-body" >
                        <h5 class = "card-title">Missa da Meia Noite</h5>
                        <p class = "card-text">A chegada de um jovem sacerdote carismático traz milagres, mistérios e um fervor religioso renovado a uma cidade moribunda e desesperada por fé.</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <a href="#" class="btn btn-#F0B420;" style = "background-color: #F0B420;">Remover favoritos</a>
                    </div>
                </div>
                <div class = "card border-dark mb-3 mx-3" style="max-width: 15rem;">
                    <img class="card-img-top" src="{% static 'assent/game.jpeg' %}" alt="Imagem de capa do card">
                    <div class = "card-body" >
                        <h5 class = "card-title">Game of Thrones</h5>
                        <p class = "card-text">Conta a históra de um lugar onde uma força destruiu o equilíbrio das estações, há muito tempo. Em uma terra onde os verões podem durar vários anos e o inverno toda uma vida, as reivindicações e as forças sobrenaturais correm as portas do Reino dos Sete Reinos.</p>
                        <br>
                        
                        <a href="#" class="btn btn-#F0B420;" style = "background-color: #F0B420;">Remover favoritos</a>
                    </div>
                </div>
                <div class = "card border-dark mb-3 mx-3" style="max-width: 15rem;">
                    <img class="card-img-top" src="{% static 'assent/vikings.jpeg' %}" alt="Imagem de capa do card">
                    <div class = "card-body" >
                        <h5 class = "card-title">Vikings</h5>
                        <p class = "card-text">Vikings segue a vida de Ragnar Lothbrok (Travis Fimmel), o maior guerreiro da sua era. Lider de seu bando, com seus irmãos e sua família, ele ascende ao poder e torna-se Rei da tribo dos vikings. Além de guerreiro implacável, Ragnar segue as tradições nórdicas e é devoto dos deuses.</p>
                        <a href="#" class="btn btn-#F0B420;" style = "background-color: #F0B420;">Remover favoritos</a>
                    </div>
                </div>
                <div class = "card border-dark mb-3 mx-3" style="max-width: 15rem;">
                    <img class="card-img-top" src="{% static 'assent/missa.jpg' %}" alt="Imagem de capa do card">
                    <div class = "card-body" >
                        <h5 class = "card-title">Como fazer o cadastro</h5>
                        <p class = "card-text">Clique no botão abaixo que te levaremos ao tutorial de como se cadastrar e do porquê.</p>
                        <a href="#" class="btn btn-#F0B420;" style = "background-color: #F0B420;">Remover favoritos</a>
                    </div>
                </div>
                <div class = "card border-dark mb-3 mx-3" style="max-width: 15rem;">
                    <img class="card-img-top" src="{% static 'assent/missa.jpg' %}" alt="Imagem de capa do card">
                    <div class = "card-body" >
                        <h5 class = "card-title">Como fazer o cadastro</h5>
                        <p class = "card-text">Clique no botão abaixo que te levaremos ao tutorial de como se cadastrar e do porquê.</p>
                        <a href="#" class="btn btn-#F0B420;" style = "background-color: #F0B420;">Remover favoritos</a>
                    </div>
                </div>
    {% endblock %}