{% load static %}

<footer class="container-fluid text-white bg-dark">
    <div class="row pt-4 pb-4 d-flex justify-content-around">
      <section class="col-md-4">
        <h5>Album</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Baby</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Models</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Family</a>
          </li>
        </ul>
      </section>

      <section class="col-md-4">
        <h5>Contato</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="tel:+5513111111111" class="nav-link text-white">Tel: (13) 9 9999-9999</a>
          </li>
          <li class="nav-item">
            <a href="https://api.whatsapp.com/send?phone=5513999999999&text=Quero%20saber%20mais%20sobre%20o%20Curso!"
              target="_blank" class="nav-link text-white">WhatsApp:
              (13) 9 9999-9999
            </a>
          </li>
        </ul>
      </section>

    </div>
    <section class="position-fixed bottom-0 end-0">
      <a href="#" class="text-white">Voltar ao Top!</a>
    </section>
  </footer>