<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

        
    {% block content %}
        <div class = "container">
            <div class = "row">
                <div class = "col-sm-12 text-light text-center my-3">
                    <h1>WatchSeries</h1>
                </div>
            </div>
            <div class = "row">
                <div class = "card border-0 shadow rounded-3 mx-5" style="max-width: 18rem;">
                    <div class = "card-body" >
                        <h5 class = "card-title">Como fazer o cadastro</h5>
                        <p class = "card-text">Clique no botão abaixo que te levaremos ao tutorial de como se cadastrar e do porquê.</p>
                        <a href="#" class="btn btn-#b8860b;" style = "background-color: #b8860b;">Cadastro</a>
                    </div>
                </div>
                <div class = "card border-0 shadow rounded-3 mx-5" style="max-width: 18rem;">
                <div class = "card-body">
                    <h5 class = "card-title">Favoritos</h5>
                    <p class = "card-text">Com o cadastro já feito você poderá favoritar as séries para assistir quando quiser.</p>
                    <a href="{% url 'favoritos' %}" class="btn btn-#b8860b;" style = "background-color: #b8860b;">Favoritos</a>
                </div>
            </div>
            <div class = "card border-0 shadow rounded-3 mx-4" style="max-width: 18rem;">
                <div class = "card-body" >
                    <h5 class = "card-title">Sobre nós</h5>
                    <p class = "card-text">Clique no botão e verá as principais funcionalidades do WatchSeires e as principais plataformas de straming</p>
                    <a href="#" class="btn btn-#b8860b;" style = "background-color: #b8860b;">Sobre nós</a>
                </div>
            </div>

            <div class = "col-sm-12 text-dark text-center my-3">
                <h1>Top 5 séries mais assistidas em 2021</h1>
            </div>
            <div class="card mx-4" style="width: 11rem;">
                <img class="card-img-top" src="{% static 'assent/maid.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <a href="{% url 'maid' %}" class="card-link text-dark"> <h5>Maid</h5></a>
                </div>
            </div>
            <div class="card mx-4" style="width: 11rem;">
                <img class="card-img-top" src="{% static 'assent/missa.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-link text-dark"> <h5>Missa da meia-noite</h5></a>
                </div>
            </div>
            <div class="card mx-4" style="width: 11rem;">
                <img class="card-img-top" src="{% static 'assent/50.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-link text-dark"> <h5>50M2</h5></a>
                </div>
            </div>
            <div class="card mx-4" style="width: 11rem;">
                <img class="card-img-top" src="{% static 'assent/invisivel.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-link text-dark"> <h5>Cidade invisível</h5></a>
                </div>
            </div>
            <div class="card mx-4" style="width: 11rem;">
                <img class="card-img-top" src="{% static 'assent/Them.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-link text-dark"> <h5>Them</h5></a>
                </div>
            </div>
        </div>
        <br>
        <br>
    {% endblock %}