{% extends 'base.html' %}

{% load static %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-normal fs-5">WATCH SERIES</h5>
                        <form>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput" style="color: grey;">Seu Email</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword" style="color: grey;">Sua Senha</label>
                            </div>

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                                <label class="form-check-label" for="rememberPasswordCheck">
                                    Guarde minhas informações
                                </label>
                            </div>
                        
                            <div class="nav-item">
                              <a href="{% url 'cadastro' %}" class="link" style="color:  #b8860b;">Cadastre-se aqui</a>
                            </div>

                            <br>

                            <div class="d-grid">
                                <button class="btn btn-#b8860b; btn-login text-uppercase fw-bold" type="submit" style = "background-color: #b8860b;">Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    {% endblock %}